body{
    margin-right: inherit;
}
#bar{
    background: black; 
    color: white;
    padding-bottom: 10px; 
    padding-top: 10px;
    width: 100%;
    
}

.rightAllign{
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top:10;
    position: absolute;
    width: 100%;
}

li {
    float:left;
    border-right:1px solid #bbb;
    width:14.2%;
  
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
   
    
}

li a:hover:not(.active) {
    background-color: #111;
   
}

.active {
    background-color: #4CAF50;
}

.blue{
    background-color: skyblue;
    
}

.green{
    background-color: darkseagreen;
}

.red{
    background-color: firebrick;
}

#debate{
    height:300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("");
    background-color: #cccccc;
}
#wrapper{
    text-align: center;
    height: 500px;
    margin: auto;
}


#yourOpinions, #ourModeration, #allDebate{
    display: inline-block;
    width:27%;
    height:50%;
    padding: 40px;
    
}

.bold{
    font-weight: bold;
}

#ourModeration{
    border-left:1px solid grey;
    border-right: 1px solid grey;
  

}

.clipart{
    height:50px;
    padding:20px;
    border-radius: 43.5%;
    border: 2px solid black;
}