body {
	background: #333;
}

#content {
	height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/9a/ff/2e/9aff2efca7e7fc907e325cfed0365107.jpg");
	position: relative;
	top: 3.6em;
	text-align: center;
}

form {
	border-radius: 8px;
	padding: 30px;
	padding-top: 50px;
	width: 30vw;
	margin: 0 auto;
	background: #fff;
}

.dropdown-menu {
	position: absolute;
	top: 20vh;
	left: 40vw;
	right: 40vw;
}

input[type="text"],
textarea,
select {
    width: 90%;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(41, 171, 226, 0.5);
    color: #333;
    text-align: center;
    margin-top: 40px;
}

select {
	background: #ddd;
	width: 40%;
	height: 30px;
	border-radius: 0px;
}

textarea {
	border: 1px solid rgba(41, 171, 226, 0.5);
}

input:focus {
    border-bottom: 1px solid rgba(41, 171, 226, 1.0);
    outline: none;
}

textarea:focus {
    border: 1px solid rgba(41, 171, 226, 1.0);
    outline: none;
}

.btn {
	margin-top: 40px;
    padding: 10px 20px;
    color: #fff !important;
    /*background: #F4F4F2;*/
}

.btn:hover {
    background: #000;
}

a.btn,
input.btn {
    color: #666;
    text-align: center;
    text-decoration: none;
}

.result-icon {
	border-radius: 100%;
	font-size: 36px;
	padding: 30px;
}

#select-title {
	font-family: "Open Sans";
	padding-top: 5px;
}

#select-multiple {
	height: 150px;
	font-size: 16px;
	margin: 25px;
}