body {
    margin-right: inherit;
}

#topicsMenu {
    position: relative;
    top: 3.4em;
    z-index: 1000;
}

#topicsMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 10;
    position: absolute;
    width: 100%;
}

#topicsMenu li {
    float: left;
    border-right: 1px solid #bbb;
    width: 14.2%;
}

#topicsMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#topicsMenu li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#debate {
    height: 500px;
    background: url("https://c.o0bg.com/rf/image_1920w/Boston/2011-2020/2015/03/21/BostonGlobe.com/Lifestyle/Images/Boghosian_DebateLeaque7_LIFE.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#welcome {
    text-align: center;
}

#category-list {
    list-style: none;
    display: inline;
}

#category-list > li {
    background: white;
    padding: 2%;
    width: 28%;
    height: 500px;
    text-align: center;
    float: left;
    border-top: 0.5px solid grey;
}

#category-list > li:nth-child(3n-1) {
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
}

#category-list > li:nth-child(even) {
    background: #eee;
}

#category-list > li > a > i {
    font-size: 36px;
    padding: 30px;
    border-radius: 100%;
}

#ourModeration {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.clipart {
    height: 50px;
    padding: 20px;
    border-radius: 43.5%;
    border: 2px solid black;
}
