body{
    margin-right: inherit;
}

#topicsMenu {
    position: relative;
   	top: 3.3em;
    z-index: 1000;
}

#topicsMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 10;
    position: absolute;
    width: 100%;
}

#topicsMenu li {
    float:left;
    border-right:1px solid #bbb;
    width:14.2%;
}

#topicsMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;


}

#topicsMenu li a:hover:not(.active) {
    background-color: #111;

}

.active {
    background-color: #4CAF50;
}

#debate{
    position: relative;
    top: 3.5em;
    height:300px;
    background-image: url("http://www.clipartkid.com/images/73/onlinelabels-clip-art-simple-clouds-efpA9c-clipart.png");
    background-color: #cccccc;
}

#wrapper{
    text-align: center;
    height: 500px;
    margin: auto;
}


#yourOpinions, #ourModeration, #allDebate{
    display: inline-block;
    width:27%;
    height:50%;
    padding: 40px;

}

#ourModeration{
    border-left:1px solid grey;
    border-right: 1px solid grey;
}

.clipart{
    height:50px;
    padding:20px;
    border-radius: 43.5%;
    border: 2px solid black;
}

.welcome{
	margin: auto;
	top:50%;
	left:35%;
	position: absolute;
}