#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.popupContainer {
    position: absolute;
    width: 330px;
    height: auto;
    left: 45%;
    top: 80px;
    background: #333;
}


/*#modal_trigger {margin:100px auto; width:100px; display:block;}*/

.btn {
    padding: 10px 20px;
    color: #fff !important;
    /*background: #F4F4F2;*/
}

.btn:hover {
    background: #000;
}

a.btn,
input.btn {
    color: #666;
    text-align: center;
    text-decoration: none;
}

.one_half {
    width: 50%;
    display: block;
    float: left;
}

.one_half.last {
    width: 45%;
    margin-left: 5%;
}


/* Popup Styles*/

.popupHeader {
    font-size: 16px;
}

.popupHeader {
    background: #222;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #777;
    font-weight: bold;
}

.popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #111;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.popupBody {
    padding: 20px;
}


/* Social Login Form */

.social_login {}

.centeredText {
    text-align: center;
    margin: 20px 0;
    clear: both;
    overflow: hidden;
    text-transform: uppercase;
}

.action_btns {
    clear: both;
    overflow: hidden;
}

.action_btns a {
    display: block;
}


/* User Login Form */

.user_login {
    display: none;
}

.user_login label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(41, 171, 226, 0.5);
    color: #eee;
}

textarea:focus,
input:focus {
    border-bottom: 1px solid rgba(41, 171, 226, 1.0);
    outline: none;
}

.user_login input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.user_login input[type="checkbox"]+label {
    float: left;
}

.user_login .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.error-message {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: rgba(255, 100, 100, 0.7);
    text-align: center;
}

.error-input {
    border-bottom: 1px solid rgba(255, 100, 100, 0.5) !important;
    color: rgba(255, 160, 160, 1.0) !important;
}

.error-input:focus {
    border-bottom: 1px solid rgba(255, 100, 100, 1.0);
}


/* User Register Form */

.user_register {
    display: none;
}

.user_register label {
    display: block;
    margin-bottom: 5px;
}

.user_register input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.user_register input[type="checkbox"]+label {
    float: left;
}

.user_register .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}
