.input, .input1{
	background-color: slategray;
	height: 25px;
	width: 500px;
	padding: 10px;	
	
}

.input1{
	margin-bottom:5px;
	margin-top: 200px;	
	
}

.select{
	width: 150px;
	height: 20px;
	font-size: 15px;	
	text-allign:center;

}

.selectT{
	font-size:20px;
	font-weight: bold;
}
option{
	color:blue;
	
}

