#topicsMenu {
    position: relative;
    top: 1.8em;
    z-index: 1000;
}

#topicsMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000;
    top: 10;
    width: 100%;
}

#topicsMenu li {
    float: left;
    width: calc(100% / 7);
    margin-top: 5px;
    margin-bottom: 50px;
}

#topicsMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#topicsMenu li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#topic {
	display: block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

#voteCount {
	float: right;
    font-size: 24px;
}

#topicFooter {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topicFooter li {
    color: #999;
    float: left;
    margin-right: 8%;
}

#topic-categories {
	display: block;
	width: 100px;
}

#category {
    width: 100px;
	padding: 2px;
	text-align: center;
}

.button {
	border-radius: 25px;
	padding: 10px 50px;
	font-size: 18px;
}

.button:hover {
    cursor: pointer;
}

.button a {
	text-decoration: none;
}

.button a:visited {
    text-decoration: none;
}

#agreebtn {
	background-color: #99B770;
}

#disagreebtn {
	background-color: #D64B4E;
}

#userBlock {
    float: right;
}

#addComment {
    margin-top: 100px;
}

#comments{
	padding: 5%;
}

#agreeComments{
	float: left;
	width: 50%;
}

#disagreeComments{
	float: right;
	width: 50%;
}
