#topicsMenu {
    position: relative;
    top: 1.8em;
    z-index: 1000;
}

#topicsMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000;
    top: 10;
    width: 100%;
}

#topicsMenu li {
    float: left;
    width: calc(100% / 7);
    margin-top: 5px;
    margin-bottom: 50px;
}

#topicsMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#topicsMenu li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#container {
	padding-left: 30px;
	padding-right: 30px;
}

#topic {
	display: block;
	height: 100vh;
}

#topic-categories {
	display: block;
	position: relative;
	float: left;
	width: 100px;
}

#category {
	display: block;
	width: 10%;
	padding: 2px;
	text-align: center;
}

#category i {
	font-size: 36px;
	border-radius: 100%;
}

#agreebtn {
	background-color: #99B770;
	border-radius: 25px;
	padding: 10px;
	width: 50px;
	font-size: 18px;
}

#disagreebtn {
	background-color: #D64B4E;
	border-radius: 25px;
	padding: 10px;
	width: 50px;
	font-size: 18px;
}